# Dependencies
node_modules/
.pnpm-store/

# Turborepo
.turbo/

# Python
apps/backend/venv/
apps/backend/__pycache__/
*.pyc
.env

# Flutter
apps/frontend/.dart_tool/
apps/frontend/.packages
apps/frontend/build/
apps/frontend/.flutter-plugins
apps/frontend/.flutter-plugins-dependencies
apps/frontend/pubspec.lock
*.iml

# IDE
.idea/
*.swp
*.swo
.DS_Store

# Logs
*.log

